/* General Styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

header {
    color: #003366;
    position: fixed;
    width: 100%;
    z-index: 1000;
    background: transparent;
    padding: 20px 5%;
    border-bottom: 1px solid transparent;
    transition: all .45s ease;
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
    transition: all .45s ease;
}
header.hidden {
    transform: translateY(-100%);
    transition: transform 0.3s ease;
}
header.sticky {
    background: #ffff ;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #003366;
}

header.sticky .nav-links a {
    color: #003366;
}

header.sticky .logo h1 {
    color: #003366;
}
.navbar .logo {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}

.navbar .logo h1 {
    font-size: 1.5rem;
    margin: 0;
}

.navbar .logo img {
    height: 35px;
    width: 35px;
}

.navbar .logo span {
    font-size: 0.9rem;
    color: #bbb;
}

.navbar .nav-links {
    display: flex;
    list-style: none;
    gap: 1.5rem;
    margin: 0;
    font-weight:500;
    transition: all 0.3s ease;
}

.navbar .nav-links li a:hover {
    color: #189fee;
    text-decoration: none;
}




/* Hero Section */
.hero-content h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.hero-image {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.categories-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0;
    padding: 0;
}

.categories-text {
    padding: 0 10px;
    font-weight: bold;
    color: #003366;
}

.line {
    flex-grow: 1;
    height: 1px;
    background-color: #003366; 
}
/* Home Section */

.home{
    position: relative;
    /* background: linear-gradient(135deg, #beffbf, #87efff); */
    /* background: #FBFBF9; */
    background-color: #ff2727;
     /* background: #FBFCF8; */

    height: 100vh;
    width: 100%;
    flex-direction: column;
    padding: 4rem 2rem;
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    background-color: #fff;

}

.feature-cards-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 1rem;
}

    .orange-card {
        background: linear-gradient(135deg, #ff8965, #FF7043, #ff5f2e);
        transition: transform 0.3s ease, background 0.3s ease;
    }

    .orange-card:hover {
        background: linear-gradient(135deg, #ff5f2e, #FF7043, #ff8965);
        transform: translateY(-15px);
    }

    .yellow-card {
        background: linear-gradient(135deg, #f9be4f, #f5a107, #ffa600);
        transition: transform 0.3s ease, background 0.3s ease;
    }

    .yellow-card:hover {
        background: linear-gradient(135deg, #ffa600, #f5a107, #f9be4f);
        transform: translateY(-15px);
    }

    .teal-card {
        background: linear-gradient(135deg, #5fc9bf, #26A69A, #039486);
        transition: transform 0.3s ease, background 0.3s ease;
    }

    .teal-card:hover {
        background: linear-gradient(135deg, #039486, #26A69A, #5fc9bf);
        transform: translateY(-15px);
    }

    .blue-card {
        background: linear-gradient(135deg, #3a8fe4, #1976D2, rgb(5, 111, 197));
        transition: transform 0.3s ease, background 0.3s ease;
    }

    .blue-card:hover {
        background: linear-gradient(135deg, rgb(5, 111, 197), #1976D2, #3a8fe4);
        transform: translateY(-15px);
    }
   

.swiper-container {
    width: 100%;
    height: 135px;
    overflow: hidden;
    position: relative;
}

.swiper-wrapper {
    display: flex;
}

.swiper-slide {
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 12px 10px rgba(0, 0, 0, 0.1);
}

.image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

.image-container img {
    width: 100%;
    height: 100%;
    max-width: 350px; 
    max-height: 140px;
    border-radius: 10px;
    object-fit: cover; 
    opacity: 0.2;
}
.swiper-slide h3 {
    position: absolute;
    bottom: 10px;
    justify-content: center;  
    color: #fff;
    padding: 0 0 0 1rem;
    font-size: 16px;
    border-radius: 5px;
}
.swiper-button-next,
.swiper-button-prev {
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.367);
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#0033665d !important;
    transition: background-color 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: rgba(255, 254, 254, 0.8);
    color:#003366 !important;

}



.feature-card a {
    display: inline-block;
    margin-top: 1rem;
    background-color: #0288D1;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.feature-card a:hover {
    background-color: #0277BD;
}

/* Contact Section */
.contact {
    padding: 4rem 2rem;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: #003366;
}

.contacttext {
    flex: 1;
    width: auto;
    margin-left: 5rem;
}

.contacttext h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.contacttext h2 span {
    color: #189fee;
}

.contacttext h5 {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
.icon {
    color:#003366; 
    margin: 0 0.5rem;
}
.contacttext .list ul {
    list-style: none;
    padding: 0;
}

.contacttext .list ul li {
    margin-bottom: 1rem;
}

.contacttext .list ul li a {
    color: #189fee;
    text-decoration: none;
    font-size: 1rem;
}

.contacttext .list ul li a:hover {
    text-decoration: underline;
}

.contacticons {
    display: flex;
    gap: 1rem;
    margin: 1rem 0 2rem;
}

.contacticons i {
    height: 45px;
    width: 45px;
    color: var(--text-color);
    background:#003366;
    font-size: 22px;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    border-radius: 50%;
    margin-right: 15px;
    transition: all .40s ease;
}

.contacticons a {
    color: #fafafa;
    font-size: 2rem;
    transition: color 0.3s ease;
}

.contacticons i:hover {
    background-color: #189fee;
}

.contactform {
    flex: 1;
    min-width: 300px;
}
.contactform_container {
    background-color: #fff;
    padding: 2rem;
    height: auto;
    max-width: 600px;
    width: auto;
    border-radius: 10px;
    box-shadow: 1px 2px 19px 0px rgba(75, 101, 131, 0.356);
}

.contactform_container form {
    display: flex;
    flex-direction: column;
}

.contactform_container input,
.contactform_container textarea {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #f9f9f9;
    color: #105479;
}

.contactform_container input:focus,
.contactform_container textarea:focus {
    border-color: #189fee; 
    outline: none;
}

.contactform_container input::placeholder,
.contactform_container textarea::placeholder {
    color: #ccc;
}

.contactform_container input.submit {
    background-color: #003366;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contactform_container input.submit:hover {
    background-color: #189fe9;
}


/* Footer */
.footer {
    background-color: #fff;
    color: #fff #003366;
    text-align: center;
    padding: 1rem;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
}

/* Media Queries */

@media (max-width: 1024px) {
    .image-container img {
        width: 100%;
        height:20vh;
        }
        .contacttext {
            
            margin: 0;
        }
}

@media (max-width: 768px) {


    .navbar .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        padding: 2rem;
        text-align: center;
        background-color: #fafafa;
        text-align: left;
        transition: all .40s ease;
    }

    .navbar .nav-links.open {
        display: flex;
    }

    .navbar .bx-menu {
        display: block;
        font-size: 2rem;
        cursor: pointer;
    }
  
    .image-container img {
        width: 100%;
        height:20vh;
        max-width: 550px; 
        max-height: 600px;}

        .contacttext {
            
            margin: 0;
        }
        
}

@media (min-width: 769px) {
    .navbar .bx-menu {
        display: none;
    }
}